@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

html{
    height: 100%;
}
body {
    // background-color: rgba(144, 238, 144, 0.438);
    background-color: rgba(255, 255, 255, 0.603);
    font-family: 'Montserrat', sans-serif;
    position: relative;
    display: block;
    height: 100%;
}

// MOBILE VERSION

h1 {
    text-align: center;
    font-style: italic;
}
.formdiv {
    display: block;
	justify-content: center;
    text-align: center;
    max-width: 400px;
    max-height: 200px;
    position: absolute;
    margin: -200px 0 0  -200px;
    left: 50%;
    top: 50%;
    form {
        label {
            display: none;
        }
        input {
            width: 75%;
            box-sizing: border-box;
            padding: 8px;
            margin: 8px 0;
            border-radius: 10px;
            background-color: transparent;
            text-align: center;
        }
        button {
            width: 75%;
            padding: 8px;
            margin: 10px 0;
            @include button;
        }
    }
}

@media screen and (min-width: 800px) {
    h1 {
        margin-top: 5%;
    }
    .formdiv form label {
        display: block;
    }
}