@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
body {
  font-family: 'Montserrat', sans-serif;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #d8f7d8;
  -webkit-box-shadow: 0px 9px 15px -6px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 9px 15px -6px rgba(0, 0, 0, 0.68);
  position: -webkit-sticky;
  position: sticky;
  top: 0%;
  z-index: 10;
}

header img {
  padding: 3%;
  width: 10%;
}

header nav {
  width: 100%;
  height: 8vh;
}

header nav ul {
  display: inline;
  padding: 3%;
}

header nav ul li {
  list-style: none;
  margin: 0 5% 0 5%;
}

header nav ul li a {
  text-decoration: none;
  color: blue;
}

header nav ul li button {
  float: right;
}

#main {
  height: 30vh;
  text-align: center;
  margin: 5%;
  background-image: url("/assets/images/113750.jpg");
  background-size: cover;
  -webkit-box-shadow: 0px 9px 15px -6px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 9px 15px -6px rgba(0, 0, 0, 0.68);
}

.tabsection {
  position: relative;
  position: -webkit-sticky;
  position: sticky;
  top: 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #d8f7d8;
  width: 90%;
  margin: auto;
  margin-bottom: 7%;
  -webkit-box-shadow: 0px 9px 15px -6px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 9px 15px -6px rgba(0, 0, 0, 0.68);
}

.tabsection button {
  margin: 3%;
  background-color: transparent;
  border: solid 1px gray;
}

#addbutton {
  position: absolute;
  right: 10%;
  top: 90%;
  background-color: #d8f7d8;
  border-radius: 50%;
  font-weight: bold;
  margin: 3%;
}

#allTransactions, #Income, #Expenses {
  width: 90%;
  margin: auto;
}

#allTransactions .transaction, #Income .transaction, #Expenses .transaction {
  border-bottom: solid 1px grey;
  padding: 3%;
}

#allTransactions .transaction :first-child, #Income .transaction :first-child, #Expenses .transaction :first-child {
  font-weight: bold;
}

footer img {
  display: block;
  margin: auto;
  padding: 3%;
  width: 10%;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
