@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
body {
  font-family: 'Montserrat', sans-serif;
  margin: auto;
  max-width: 1280px;
}

header {
  grid-area: head;
  padding: 1vh 3vh 1vh 3vh;
  min-height: 70px;
  max-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #d8f7d8;
  -webkit-box-shadow: 0px 9px 15px -6px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 9px 15px -6px rgba(0, 0, 0, 0.68);
  position: -webkit-sticky;
  position: sticky;
  top: 0%;
  z-index: 10;
}

header img {
  width: 10vh;
}

header button {
  float: right;
  background-color: white;
  border: solid 1px #05eb05;
}

header button:hover {
  background-color: white;
  border-color: black;
}

#mychartdiv {
  min-width: none;
  max-width: 600px;
  margin: auto;
}

#mychartdiv canvas#myChart {
  margin: auto;
  max-width: 600px;
}

#tabs {
  grid-area: 'tabs';
}

.tabcontent {
  display: none;
  width: 90%;
  margin: auto;
  height: 50vh;
  overflow-y: scroll;
}

.tabcontent .transaction {
  border-bottom: solid 1px grey;
  padding: 3%;
}

.tabcontent .transaction :first-child {
  font-weight: bold;
}

#main {
  min-height: 30vh;
  text-align: center;
  margin: 5%;
  -webkit-box-shadow: 0px 9px 15px -6px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 9px 15px -6px rgba(0, 0, 0, 0.68);
}

#main #piechart {
  max-width: 100%;
}

#main #balance {
  font-size: 3vh;
  background-color: #d8f7d8;
}

.tabsection {
  position: relative;
  position: -webkit-sticky;
  position: sticky;
  top: 12%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #d8f7d8;
  width: 90%;
  margin: auto;
  margin-bottom: 7%;
  -webkit-box-shadow: 0px 9px 15px -6px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 9px 15px -6px rgba(0, 0, 0, 0.68);
}

.tabsection button {
  margin: 3%;
  background-color: transparent;
  border: none;
  border-bottom: solid 1px gray;
}

.tabsection button:hover {
  background-color: white;
  border-color: #05eb05;
}

.tabsection button.active {
  background-color: white;
  border: solid 1px #05eb05;
}

#addbutton {
  position: fixed;
  right: 5%;
  bottom: 5%;
  background-color: #d8f7d8;
  border-radius: 50%;
  font-weight: bold;
  margin: 3%;
}

#addbutton:hover {
  border-color: 1px solid black;
}

@media screen and (max-width: 800px) {
  .form-popup.active {
    visibility: visible;
  }
  .form-popup {
    visibility: hidden;
    top: 80%;
    left: 45%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: auto;
    position: fixed;
    outline: none;
    outline: none;
    background-color: #d8f7d8;
    border: 1px solid grey;
  }
  .form-popup form {
    padding: 0 10% 10% 10%;
  }
  .form-popup form select {
    width: 90%;
  }
  .form-popup form input {
    width: 80%;
    margin-top: 5px;
  }
  .form-popup form #submitbtn {
    margin-top: 5px;
    background-color: white;
    border: solid 1px #05eb05;
  }
  .form-popup form #submitbtn:hover {
    background-color: white;
    border-color: black;
  }
}

.deleteBtn {
  float: right;
  cursor: pointer;
  background-color: white;
  color: #eb0505;
}

footer {
  grid-area: footer;
  text-align: center;
  min-height: 70px;
  max-height: 100px;
  padding-top: 2vh;
  background-color: #d8f7d8;
  -webkit-box-shadow: 0px 9px 15px -6px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 9px 15px -6px rgba(0, 0, 0, 0.68);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer h1 {
  font-style: italic;
  font-size: 1.5vh;
  margin-top: 3%;
}

footer img {
  display: block;
  margin: auto;
  padding: 3%;
  width: 50%;
}
